
.navigation ul {
    text-align: center;
    list-style-type: none;
}

.navigation li {
    font-weight: 1;
    letter-spacing: 5px;
    padding: 7px;
    display: inline;
}

a, a:active, a:visited {
    color: lightslategray;
}
a.home:hover {
    color:lightgrey;
}

a.article:hover {
    color:lightseagreen;
}

a.gallery:hover {
    color:lightpink;
}

a.social-media:hover {
    color:lightskyblue;
}

a.home:hover {
    color:linen
}

a.contact:hover {
    color:lightsalmon;
}

.byside h6:hover {
    color:black;
}

img {
    opacity: 0.7;
}

img:hover{
    opacity:1;
}

.mount-name:hover {
    color:black;
}

.banner-content h3:hover {
    color:cadetblue;
}

.banner-content {
    background-image: url(mount.jpg);
    background-size: cover;
    height: 400px;
}

.banner-content h3 {
    position: relative;
    text-align: center;
    color:seashell;
    border: 1px solid whitesmoke;
    top: 150px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    font-family: fantasy;
    font-weight: 1;
    letter-spacing: 5px;
    padding: 5px;
}

.main h2 {
    text-align: center;
    letter-spacing: 5px;
    padding: 5px;
    font-weight: 1;
    color:lightslategray
}

.main p {
    text-align: justify;
    margin: 30px 400px;
    border: 1px solid lightslategray;
    padding: 40px;
}

.byside h6 {
    text-align:right;
    margin-right: 400px;
    letter-spacing: 5px;
    color:lightslategray;
    font-weight: 1;   
}

.banner a {
    display:block;
}

img {
    height: 130px;
    width: 220px;
}

figure {
    display: inline-block;
    cursor:pointer;
}

#media { 
    padding: 50px;
    border: 1px solid lightslategray;
    margin: 30px 20px;
    text-align: center;
}

.mount-name {
    text-align:center;
    letter-spacing: 5px;
    color: lightslategray;
    font-weight: lighter;
}

h1 {
    text-align:center;
    letter-spacing: 25px;
    color:lightslategray;
    font-weight: lighter;
    text-shadow: 2px 2px lightsteelblue;
}

h4 {
    text-align:center;
    letter-spacing: 20px;
    color: gray;
    font-weight: lighter;
}

#social-media a {
    background:lightslategrey;
    border-radius: 3px;
    color: gray;
    text-decoration: none;
    padding: 20px;
    border: 2px solid gray;
    margin: 20px 30px;
    display:inline-block;
    text-shadow: 1px 1px lightgray;
}

#social-media {
    position:relative;
    text-align:center;
}

#social-media a:hover {
  background: white;
}

.line-one {
    border-bottom: 1px solid lightslategray;
    position: center;
}
.line-two {
    border-bottom: 1px solid lightslategray;
    position: center;
}

.sea-name {
    text-align:center;
    letter-spacing: 5px;
    color: lightslategray;
    font-weight: lighter;
}

.forest-name {
    text-align:center;
    letter-spacing: 5px;
    color: lightslategray;
    font-weight: lighter;
}

.sea-name:hover {
    color:lightskyblue;
}

.forest-name:hover {
    color:lightseagreen;
}

.warning {
    color:lightslategray;
    background-color: lightseagreen;
    font-weight: lighter;
    position: absolute;
    top: 300px;
    right: 0px;
}